.home-container
  height: 100%
  overflow: auto
  .main-layout
    width: 100%
    max-width: 900px
    margin: 0 auto
  .footerbar-view
    width: 100%
    position: absolute
    bottom: 0px
    left: 0px
