@import '~vuetify/src/stylus/settings/_theme.styl'

.forgotpassword-container
  height: 100%
  display: flex
  flex-direction: column
  max-width: 900px
  .main-layout
    height: 100%
    min-height: 400px
    background-color: #ffffff
  .forgotpassword-block
    > p
      line-height: 2
    .email-view
      display: flex
      flex-direction: row
