.issuebinder-container
  display: inherit !important
  max-width: none !important
  height: 100%
  overflow: auto
  .main-layout
    max-width: 900px
    margin: 0 auto
  .row-view
    display: flex
    padding: 0px
  .title-text
    font-size: 14px
    color: #9B9B9B
    margin: 0px
    padding-top: 4px
  .content-text
    font-size: 16px
    margin-top: 6px
    margin-bottom: 0px
  .card-view
    background-color: transparent !important
    width: 100%
    p
      margin-bottom: 0
      line-height: 1.4
    .checkbox-view .input-group__input > i
      color: rgba(0,0,0,0.38);
    .title-view
      background-color: transparent !important
      border-bottom: 1px solid #CCCCCC
      padding: 0 !important
    .subtitle-view
      margin: 0
      padding-bottom: 10px
      border-bottom: 1px solid #CCCCCC
    .content-view
      background-color: #ffffff
      display: inherit
      .total-view
        border-top: 1px solid #d8d8d8
  .footerbar-view
    width: 100%
    position: absolute
    left: 0px
    bottom: 0px
		.footer-content
      background-color: #ffffff !important