<div class="main-container">
  <div class="navbar-view">
    <Navbar role="Program Admin"/>
    <NavbarHeader v-if="isTabsList" :title="title" :isActions="isActionsButton" :actions="showFAB" :tabList="ApplicationTabList"/>
    <NavbarHeader v-else :title="title" :isActions="isActionsButton" :actions="showFAB"/>
    <NavbarBanner v-if="isNavbarBanner" :date="date" :primaryName="primaryName" :coveragePeriod="coveragePeriod"/>
  </div>  
  <div class="page-view">
    <transition name="fade" mode="out-in">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>
  </div>  
</div>
