.quote
  min-width: 360px
  padding-top: 55px
  border-top: 10px solid #CCC
  border-bottom: 10px solid #CCC
  border-radius: 0
  .quote-blur
    filter: blur(5px)
  .quote-body
    p
      margin-bottom: 0
    .text-title
      line-height: 24px
      color: rgba(0, 0, 0, .38)
    .lh-18
      line-height: 18px
    .ls-m-7
      letter-spacing: -0.7px
    .quote-table
      height: 120px
    .btn-details
      text-transform: none
  .quote-footer
    padding: 30px 0px;
    background-color: #F2F2F2
    border-top: 1px solid #979797
    .btn-approve
      width: 224px
      height: 60px
      background-color: #FFF !important
    .btn-approve:hover
      background-color: #1976D2 !important
      color: white !important
  .overlay-view
    position: absolute
    width: 100%
    height: calc(100% + 20px)
    background-color: rgba(0, 0, 0, 0.69)
    margin-top: -10px
    margin-bottom: -10px
    padding-top: 65px
    top: 0
    left: 0
    .close-button
      position: absolute
      right: 0px
      top: 10px  
    .overlay-body
      p
        margin-bottom: 0
        color: rgba(255, 255, 255, 0.87)
      .text-title
        line-height: 24px
        color: rgba(255, 255, 255, 0.87)
      .input-text
        width: 80%
        height: 50px
        background-color: #ffffff
        color: #9b9b9b
    .overlay-footer
      .btn-overlay
        width: 66.67%