<v-container fluid class="repeatpassword-container">
	<v-layout column>
		<v-flex xs12 sm6 offset-sm3 lg4 offset-lg4 class="text-xs-center">
            <p class="fs-36 fw-light m-t-48">Hey Bruce!</p>
            <p class="fs-16 m-t-24 mb-0">Welcome to PolicyFly!</p>
            <p class="fs-16">First step, please create a valid password.</p>
            <p class="fs-18 fw-bold m-t-36">Repeat Your Password</p>
            <v-form v-model="isValid" lazy-validation class="password-view">
				<div class="item-view m-t-12">
                    <v-icon medium color="white" class="ml-3">lock_open</v-icon>
                    <input type="password" v-model="password" class="ml-3" maxlength="15" v-on:keyup="keyUp"/>                    
                </div>
                <v-btn round color="primary" large dark class="next-button" :disabled="!isValid" v-on:click="onNext">Next</v-btn>		
			</v-form>
		</v-flex>
	</v-layout>
</v-container>
