<v-container fluid class="createpassword-container">
	<v-layout column>
		<v-flex xs12 sm6 offset-sm3 lg4 offset-lg4 class="text-xs-center">
            <p class="fs-36 fw-light m-t-36">Hey Bruce!</p>
            <p class="fs-16 m-t-24 mb-1">Welcome to PolicyFly!</p>
            <p class="fs-16">First step, please create a valid password.</p>
            <p class="fs-18 fw-bold m-t-36 mb-0">Create a Password</p>
            <v-form v-model="isValid" lazy-validation class="password-view">
				<div class="item-view mt-3 mb-2 password-input">
                    <v-icon medium color="white" class="ml-3">lock_open</v-icon>
                    <input type="password" v-model="password" class="ml-3" v-on:keyup="keyUp($event)" v-on:keypress.enter.prevent="onEnterKey()"/>                    
				</div>
				<div class="m-t-24 validation-view">
					<div class="item-view">
						<v-icon v-if="this.validation.isMaxLen" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.isMaxLen" class="title unchecked-color">close</v-icon>
						<p class="fs-12 ml-2" :style="this.validation.isMaxLen ? {color: '#fff'} : {color: '#636e88'}">8 character minimum</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containUpperCase" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containUpperCase" class="title unchecked-color">close</v-icon>
						<p class="fs-12 ml-2" :style="this.validation.containUpperCase ? {color: '#fff'} : {color: '#636e88'}">1 uppercase letter</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containLowerCase" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containLowerCase" class="title unchecked-color">close</v-icon>
						<p class="fs-12 ml-2" :style="this.validation.containLowerCase ? {color: '#fff'} : {color: '#636e88'}">1 lowercase letter</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containNumber" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containNumber" class="title unchecked-color">close</v-icon>
						<p class="fs-12 ml-2" :style="this.validation.containNumber ? {color: '#fff'} : {color: '#636e88'}">1 number</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containSymbol" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containSymbol" class="title unchecked-color">close</v-icon>
						<p class="fs-12 ml-2" :style="this.validation.containSymbol ? {color: '#fff'} : {color: '#636e88'}">1 symbol</p>
					</div>
				</div>
			</v-form>
			<v-btn round color="primary" large dark class="next-button mt-3" :disabled="!isValid" v-on:click="onNext">Next</v-btn>
		</v-flex>
	</v-layout>
</v-container>
