@import '~vuetify/src/stylus/settings/_theme.styl'

.createpassword-container
  color: #ffffff
  .next-button
    font-size: 16px
    width: 220px
    height: 48px
  .password-view
    .password-input
      width: 90%
      max-width: 340px
      height: 60px
      margin: 0px auto
      background-color: #182C4F
      border: 2px solid #4A90E2
      border-radius: 5px
      > input
        width: 100%
        font-size: 32px
        outline: none
    .validation-view
      display: inline-block;
  .item-view
    display: flex
    flex-direction: row
    > p
      margin: 0 auto
    > .unchecked-color
      color: #636e88
