@import '~vuetify/src/stylus/settings/_theme.styl'
	
.text-box-view
	display: flex
	flex-direction: row
	margin: 0px auto
	border: 2px solid #4A90E2
	border-radius: 5px
	.input-view
		width: 100%
		font-size: 28px
		outline: none
