.attachments-view
  padding-right: 100px
.item-view
  display: flex
  font-size: 12px
  .item-text
    color: grey
.divider-view
  width: 95% !important
  margin: 0px auto
.media
  border: 1px solid #cccccc
  height: 60px
  display: flex
  justify-content: space-between
  align-items: center
  .progress
    flex: 1
    height: 100%
.drop-down-view
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 212px