.authentication-container
  height: 100%
  .main-layout
    height: 100%
    min-height: 400px
    max-width: 900px
    margin: 0 auto
    background: #ffffff
  .authentication-block
    display: inline-block
    .content-text
      display: flex;			
      align-items: center;
    .content-view
      display: flex
      width: 60%
      margin: 0px auto
      .left-view
        display: flex
        width: 65%
        align-items: center
        .green-circle
          height: 30px
          width: 30px
          font-size: 32px
          border: 2px solid #757575
          border-radius: 50%
    .alert-view
      width: 450px
      height: 56px
      float: right
      padding-right: 0px
      background-color: #4D4F53 !important
      border: none
