@import '~vuetify/src/stylus/settings/_theme.styl'

.completed-container
  color: #ffffff
  .title-text
    font-size: 36px
  .subtitle-text
    font-size: 16px
  .link-text
    font-size: 24px
    text-decoration: none
.login-button
  width: 220px
  height: 48px
  font-size: 16px