@import '~vuetify/src/stylus/settings/_theme.styl'

.qrcode-container
  color: #ffffff
  .qr-view
    width: 120px
    height: 120px
    margin: 0px auto
    background-color: #FFF
    > div
      padding: 8px
  .code-input
    display: inline-flex
  .next-button
    width: 220px
    height: 48px
    font-size: 16px
  .link-view
    display: grid
    > a
      font-size: 14px
      text-decoration: underline