<div class="main-container">
  <div class="navbar-view">
    <Navbar role="Broker" />
    <NavbarHeader :title="title" />
  </div>
  
  <div class="page-container">
    <transition name="fade" mode="out-in">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>
  </div>

  <div class="footerbar-view">
    <v-layout row wrap>
			<v-flex sm12>
				<v-toolbar class="footer-content">
					<v-btn flat color="grey" v-on:click="cancel">Cancel</v-btn>
					<v-spacer></v-spacer>
					<v-btn color="primary" :disabled="disabledNextButton" v-on:click="next">NEXT</v-btn>
				</v-toolbar>
			</v-flex>
		</v-layout>
  </div>
</div>
