<v-container fluid class="boarding-container">
	<v-layout column>
		<v-flex xs12 class="text-xs-center">
			<p class="fs-36 fw-light m-t-48">
				Two-Factor Authentication
			</p>
			<p v-if="method=='app'" class="fs-16 mt-3">
				Please enter the 6-digit verification code you have received from your dedicated authenticator app.
			</p>
			<p v-else class="fs-16 m-t-36">
				Enter the code sent to your mobile phone number.
			</p>
			
			<p v-if="method==''" class="fs-14 mt-5 pt-3">
				Didn't receive it? <a href="">Resend code via text message.</a>
			</p>
			<p v-else-if="method=='app'" class="fs-14 mt-5 pt-3">
				Trouble with your app? <a href="">Send code via text message.</a>
			</p>
			<p v-else-if="!second" class="fs-14 mt-5 pt-3">
				Didn't receive it? <a href="" class="link-text">Resend code via text message.</a>
			</p>
			<div v-else class="space-view"></div>
			
			<div class="code-input">
				<CodeInput ref="codeInput" themeColor="blue" :onFill="onFill"/>
			</div>
			<div>
				<v-btn round color="primary" large dark class="verify-button" :disabled="disabledVerifyButton" v-on:click="onVerify">Verify</v-btn>
			</div>
			<p v-if="second" class="fs-14 mt-3 px-1">Still having issues? Contact a Program Administrator for further support.</p>
		</v-flex>
	</v-layout>
</v-container>
