$app__background-color = #F9F9F9
$nav__background-color = #0D2345
$nav-top__background-color = #0C203F
$nav-top__border-color = #334867
$card__border-color = #E6E6E6
$arrow__border-color = #c1c1c1

$color-primary-dark = #182C4F
$color-primary = #1A3056
$color-secondary = #4A90E2
$color-success = #88D68F
$color-danger = #DD5162
$color-warning = #FFF478
$color-success-alpha = #E1FAE3
$color-danger-alpha = #FAE1E1
$color-warning-alpha = #FFFDE6
$color-white = #ffffff

.color-white
	color: $color-white
.color-fab-content
	color: #B7EA81
.color-gray
	color: #cccccc
.color-gray-light
	color: #d8d8d8
.color-gray-dark
	color: #9b9b9b !important
.color-black-light
	color: #121212
