.p-t-12
  padding-top: 12px
.p-t-24
  padding-top: 24px
.p-t-36
  padding-top: 36px
.p-t-48
  padding-top: 48px
.p-t-60
  padding-top: 60px
.p-t-90
  padding-top: 90px
.p-t-120
  padding-top: 120px
.p-t-180
  padding-top: 180px

.p-b-12
  padding-bottom: 12px
.p-b-24
  padding-bottom: 24px
.p-b-36
  padding-bottom: 36px
.p-b-48
  padding-bottom: 48px
.p-b-60
  padding-bottom: 60px
.p-b-90
  padding-bottom: 90px
.p-b-120
  padding-bottom: 120px
.p-b-180
  padding-bottom: 180px

.p-l-12
  padding-left: 12px
.p-l-24
  padding-left: 24px
.p-l-36
  padding-left: 36px
.p-l-48
  padding-left: 48px
.p-l-60
  padding-left: 60px
.p-l-120
  padding-left: 120px
.p-l-180
  padding-left: 180px

.p-r-12
  padding-right: 12px
.p-r-24
  padding-right: 24px
.p-r-36
  padding-right: 36px
.p-r-48
  padding-right: 48px
.p-r-60
  padding-right: 60px
.p-r-120
  padding-right: 120px
.p-r-180
  padding-right: 180px

.p-a-12
  padding: 12px
.p-a-24
  padding: 24px
.p-a-36
  padding: 36px
.p-a-48
  padding: 48px
.p-a-60
  padding: 60px
.p-a-120
  padding: 120px
.p-a-180
  padding: 180px

.p-x-12
  padding-left: 12px
  padding-right: 12px
.p-x-24
  padding-left: 24px
  padding-right: 24px
.p-x-36
  padding-left: 36px
  padding-right: 36px
.p-x-48
  padding-left: 48px
  padding-right: 48px
.p-x-60
  padding-left: 60px
  padding-right: 60px
.p-x-90
  padding-left: 90px
  padding-right: 90px
.p-x-120
  padding-left: 120px
  padding-right: 120px
.p-x-150
  padding-left: 150px
  padding-right: 150px
.p-x-180
  padding-left: 180px
  padding-right: 180px

.p-y-12
  padding-top: 12px
  padding-bottom: 12px
.p-y-24
  padding-top: 24px
  padding-bottom: 24px
.p-y-36
  padding-top: 36px
  padding-bottom: 36px
.p-y-48
  padding-top: 48px
  padding-bottom: 48px
.p-y-60
  padding-top: 60px
  padding-bottom: 60px
.p-y-90
  padding-top: 90px
  padding-bottom: 90px
.p-y-120
  padding-top: 120px
  padding-bottom: 120px
.p-y-180
  padding-top: 180px
  padding-bottom: 180px

.m-t-12
  margin-top: 12px
.m-t-24
  margin-top: 24px
.m-t-36
  margin-top: 36px
.m-t-48
  margin-top: 48px
.m-t-60
  margin-top: 60px
.m-t-120
  margin-top: 120px
.m-t-180
  margin-top: 180px

.m-b-12
  margin-bottom: 12px
.m-b-24
  margin-bottom: 24px
.m-b-36
  margin-bottom: 36px
.m-b-48
  margin-bottom: 48px
.m-b-60
  margin-bottom: 60px
.m-b-120
  margin-bottom: 120px
.m-b-180
  margin-bottom: 180px

.m-l-12
  margin-left: 12px
.m-l-24
  margin-left: 24px
.m-l-36
  margin-left: 36px
.m-l-48
  margin-left: 48px
.m-l-60
  margin-left: 60px
.m-l-120
  margin-left: 120px
.m-l-180
  margin-left: 180px

.m-r-12
  margin-right: 12px
.m-r-24
  margin-right: 24px
.m-r-36
  margin-right: 36px
.m-r-48
  margin-right: 48px
.m-r-60
  margin-right: 60px
.m-r-120
  margin-right: 120px
.m-r-180
  margin-right: 180px

.m-a-12
  margin: 12px
.m-a-24
  margin: 24px
.m-a-36
  margin: 36px
.m-a-48
  margin: 48px
.m-a-60
  margin: 60px
.m-a-120
  margin: 120px
.m-a-180
  margin: 180px

.m-x-12
  margin-left: 12px
  margin-right: 12px
.m-x-24
  margin-left: 24px
  margin-right: 24px
.m-x-32
  margin-left: 32px
  margin-right: 32px
.m-x-36
  margin-left: 36px
  margin-right: 36px
.m-x-48
  margin-left: 48px
  margin-right: 48px
.m-x-60
  margin-left: 60px
  margin-right: 60px
.m-x-120
  margin-left: 120px
  margin-right: 120px
.m-x-180
  margin-left: 180px
  margin-right: 180px

.m-y-12
  margin-top: 12px
  margin-bottom: 12px
.m-y-24
  margin-top: 24px
  margin-bottom: 24px
.m-y-36
  margin-top: 36px
  margin-bottom: 36px
.m-y-48
  margin-top: 48px
  margin-bottom: 48px
.m-y-60
  margin-top: 60px
  margin-bottom: 60px
.m-y-120
  margin-top: 120px
  margin-bottom: 120px
.m-y-180
  margin-top: 180px
  margin-bottom: 180px

.m-l-auto
  margin-left: auto

.float-left
  float: left !important

.float-right
  float: right !important

.inline-field
  float: left
  padding-right: 8px
  padding-left: 8px


// Buttons and Components
.btn-default
  font-size: 14px
  font-weight: 500
  color: #FFFFFF !important
  background-color: $color-secondary !important
.btn-flat
  color: $color-secondary !important
  font-size: 14px
  font-weight: 500
.btn-large
  width: 220px
  height: 48px
  font-size: 16px
  font-weight: 500
.right-button
  .btn__content
    justify-content: flex-end
    
.display-flex
  display: flex !important
.text-center
  text-align: center
.text-right
  text-align: right

.flex-center
  display: flex
  justify-content: center
.flex-right
  display: flex
  justify-content: right
.align-center
  align-items: center
.justify-flex-end
  justify-content: flex-end
  
.dragClass
  border: 2px dashed #dbdbdb
  border-radius: 10px
  background-color: #E1FAE3

.no-transition
  transition: none !important

.normal-switch
  > label
    font-size: 14px
    color: #B3B3B3 !important