<v-container fluid class="user-container" >
	<v-layout column>
		<v-flex class="main-layout mt-5 px-3 py-5" elevation-2 >
			<v-flex xs6 class="px-4 py-2">
				<v-text-field ref="fname" label="First Name" v-model="userInfo.fname" readonly/>
			</v-flex>
			<v-flex xs6 class="px-4 py-2">
				<v-text-field ref="lname" label="Last Name" v-model="userInfo.lname" readonly/>
			</v-flex>
			<v-flex xs6 class="px-4 py-2">
				<v-text-field ref="email" label="Email" v-model="userInfo.email" readonly/>
			</v-flex>
		</v-flex> 
	</v-layout>

	<v-flex>
		<v-alert
			color="grey darken-3"
			:value="alert"
			transition="scale-transition"
			class="alert-view">
			A reset password email has been sent to this user.
			<v-btn flat color="white" @click="alert = false" class="m-l-48">close</v-btn>
		</v-alert>
		<v-menu top left offset-y :nudge-top="12" :close-on-content-click="true" v-model="openedMenu" class="fab-view">
			<v-btn fab dark slot="activator" class="settings-button">
				<v-icon v-if="!openedMenu" dark>settings</v-icon>
				<v-icon v-else dark>close</v-icon>
			</v-btn>				
			<v-card class="popup-view">
				<v-list class="menu-header-view pt-0 pb-4">
					<v-list-tile class="menu-title-view">
						<v-list-tile-content>
							<v-list-tile-title>Hi, Ian!</v-list-tile-title>
							<v-list-tile-sub-title>What would you like to do today?</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>						
				</v-list>
				<v-divider></v-divider>
				<v-card-actions>
					<v-btn flat @click="onResetPassword" class="menu-button">
						<v-icon small class="mr-3">reply</v-icon> 
						Reset Password
					</v-btn>
					<v-btn flat @click="onRemove" class="menu-button">
						<v-icon small class="mr-3">close</v-icon> 
						Remove
					</v-btn>
				</v-card-actions>
			</v-card>				
		</v-menu>            
	</v-flex>
</v-container>
