.main-view
  p
    margin-bottom: 0
  .row-view
    .different-view
      display: inline-table
      .old-content
        background-color: #FAE1E1
        padding: 4px
        > p
          text-decoration: line-through
      .new-content
        background-color: #E1FAE3
        padding: 4px
  .alert-view
    border: none
    background-color: rgba(74, 144, 226, 0.16) !important
    color: #000000
    .alert__icon
      color: #1A3056  !important
  .date-selector
    background-color: #ffffff
    > .input-group__details
      display: none
    > .input-group__input
      border: 1px solid #d8d8d8
      padding-top: 4px
      padding-bottom: 4px
      padding-left: 10px
      .input-group__selections__comma
        font-size: 12px
        font-weight: medium