.question-view
  padding-right: 100px
  position: relative
  .question-title
    font-size: 18px
    font-weight: normal
  .inner-content
    width: 100%
    .item-list
      list-style-position: inside
  .uploader-view
    text-align: center
