.password-container
  height: 100%
  .main-layout
    width: 100%
    height 100%
    max-width: 900px
    min-height: 600px
    margin: 0 auto
    background: #ffffff
    .passwordForm
      width: 50%
      margin: 0 auto
      .text-view
        width: initial 
      .item-view
        display: flex
        flex-direction: row
        .icon-view
          font-size: 15px !important
        > p
          margin: 0 auto
          color: #9b9b9b
	.footerbar-view
    width: 100%
    position: absolute
    left: 0px
    bottom: 0px
		.footer-content
      background-color: #ffffff !important
  .alert-view
    height: 56px
    padding-right: 0px
    background-color: #4D4F53 !important
    border: none
    position: fixed
    right: 10px
    top: 180px