<v-container class="password-container pa-0">
	<v-layout row class="main-layout elevation-2">
		<v-flex class="password-block text-xs-center">
			<p class="fs-36 m-t-60">Change Password</p>
			<v-form v-model="isValid" ref="passwordForm" class="passwordForm">
				<v-text-field 
					label="Current Password" 
					type='password' 
					v-model="oldPassword" 
					:rules="[rules.required]" 
					:disabled="!isEditable"
					class="m-x-24 m-t-36 text-view"/>
				<v-text-field 
					label="New Password" 
					type='password' 
					v-model="newPassword" 
					:rules="[rules.required]" 
					class="m-x-24 m-t-12 text-view"
					:disabled="!isEditable"
					v-on:keyup="keyUp($event)"/>
				<div class="m-l-48">
					<div class="item-view">
						<v-icon v-if="this.validation.isMaxLen" color="green" class="icon-view">check</v-icon>
						<v-icon v-if="!this.validation.isMaxLen" color="grey lighten-1" class="icon-view">close</v-icon>
						<p class="fs-12 ml-2">8 character minimum</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containUpperCase" color="green" class="icon-view">check</v-icon>
						<v-icon v-if="!this.validation.containUpperCase" color="grey lighten-1" class="icon-view">close</v-icon>
						<p class="fs-12 ml-2">1 uppercase letter</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containLowerCase" color="green" class="icon-view">check</v-icon>
						<v-icon v-if="!this.validation.containLowerCase" color="grey lighten-1" class="icon-view">close</v-icon>
						<p class="fs-12 ml-2">1 lowercase letter</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containNumber" color="green" class="icon-view">check</v-icon>
						<v-icon v-if="!this.validation.containNumber" color="grey lighten-1" class="icon-view">close</v-icon>
						<p class="fs-12 ml-2">1 number</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containSymbol" color="green" class="icon-view">check</v-icon>
						<v-icon v-if="!this.validation.containSymbol" color="grey lighten-1" class="icon-view">close</v-icon>
						<p class="fs-12 ml-2">1 symbol</p>
					</div>
				</div>
				<v-text-field
					label="Repeat Password"
					type='password'
					v-model="repeatPassword"
					:rules="[rules.required, rules.match]" 
					class="m-x-24 m-t-24 text-view"
					:disabled="!isEditable"
					v-on:keyup="keyUp($event)"/>
				<v-flex v-show="!isEditable" class="text-xs-right m-b-60">
					<v-btn flat class="btn-flat" ref="editButton" @click="onEdit">Edit</v-btn>
				</v-flex>
			</v-form>
		</v-flex>        
	</v-layout>	

	<v-alert
		:value="isChanged"
		transition="slide-x-reverse-transition"
		class="alert-view">
		Your password has been changed.
		<v-btn flat color="white" @click="isChanged=false" class="m-l-48">close</v-btn>
	</v-alert>

	<div v-if="isEditable" class="footerbar-view">
		<v-layout row wrap>
			<v-flex sm12>
				<v-toolbar class="footer-content">
					<v-btn flat color="grey" v-on:click="onCancel">Cancel</v-btn>
					<v-spacer></v-spacer>
					<v-btn :disabled="!isValid" color="primary" v-on:click="onSubmit">Submit</v-btn>
				</v-toolbar>
			</v-flex>
		</v-layout>
	</div>
</v-container>
    