<v-container class="forgotpassword-container pa-0">
	<v-layout row class="main-layout elevation-2">
		<v-flex xs12 sm6 offset-sm3 class="forgotpassword-block">
			<p class="fs-16 m-t-120">
				Please ensure your password matches the required criteria.
			</p>			
			<p class="fs-16">
				Then repeat your password to submit.
			</p>
			<v-form validate-on-blur>
				<div class="item-view m-t-48 p-r-48">
					<v-icon medium color="gray" sm3>lock_outline</v-icon>
					<v-text-field sm7 label="Enter New Password" type='password' v-model="newPassword" :rules="[rules.required]" class="ml-2 mr-5" v-on:keyup="keyUp($event)"/>
				</div>
				<div class="ml-5">
					<div class="item-view">
						<v-icon v-if="this.validation.isMaxLen" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.isMaxLen" color="gray" class="title">close</v-icon>
						<p class="fs-12 ml-2">8 character minimum</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containUpperCase" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containUpperCase" color="gray" class="title">close</v-icon>
						<p class="fs-12 ml-2">1 uppercase letter</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containLowerCase" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containLowerCase" color="gray" class="title">close</v-icon>
						<p class="fs-12 ml-2">1 lowercase letter</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containNumber" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containNumber" color="gray" class="title">close</v-icon>
						<p class="fs-12 ml-2">1 number</p>
					</div>
					<div class="item-view">
						<v-icon v-if="this.validation.containSymbol" color="green" class="title">check</v-icon>
						<v-icon v-if="!this.validation.containSymbol" color="gray" class="title">close</v-icon>
						<p class="fs-12 ml-2">1 symbol</p>
					</div>
				</div>
				<div class="item-view m-t-12 p-r-48">
					<v-icon medium color="gray" sm3>lock_outline</v-icon>
					<v-text-field sm7 label="Repeat Password" type='password' v-model="repeatPassword" validate-on-blur :rules="[rules.required, rules.match]" class="ml-2 mr-5" v-on:keyup="keyUp($event)"/>
				</div>
			</v-form>
		</v-flex>
	</v-layout>
</v-container>