.dropdown-button
  text-transform: none !important
  .arrow-icon
    position: absolute
    right: 5%
    top: 6px
.row-view
  margin-left: 12px
  display: flex
  .item-view
    display: flex
    font-size: 12px
    margin-left: 12px
    .item-text
      color: grey
    .value-text
      overflow-wrap: break-word
