@import '~vuetify/src/stylus/settings/_theme.styl'
@import '../../../../stylus/colors.styl'

.boarding-container
  height: 100vh
  background-color: $color-primary
	.header-text
		color: #ffffff
.input-dialog
	max-width: 468px
	margin: 0px auto
	border-radius: 10px
	.inner-content
		width: 100%
		.title-text
			font-size: 24px
			color: $color-secondary
		.normal-button
			width: 150px
