.home-container
  height: 100%
  overflow: auto
  .main-layout
    width: 100%
    max-width: 900px
    margin: 0 auto
    .td-text
      font-size: 12px !important
      color: #121212 !important
    .td-edit-button
      width: 45px
      padding: 0
      .edit-button
        margin-right: -20px
    .td-delete-button
      padding: 0
      padding-right: 10px
      .delete-button
        margin-left: -10px
        margin-right: -10px
  .alert-view
    height: 56px
    padding-right: 0px
    background-color: #4D4F53 !important
    border: none
    position: fixed
    bottom: 15%
    right: calc(5% + 80px)
    @media (max-width: 1100px)
      right: calc(0% + 80px)
    @media (min-width: 1100px) and (max-width: 1300px)
      right: calc(5% + 80px)
    @media (min-width: 1300px)
      right: calc(10% + 80px)
