.row-view
	display: flex
	padding-left: 4px
	padding-right: 12px
	.item-view
		display: flex
		font-size: 12px
		margin-left: 12px
		.item-text
			color: grey
		.value-text
			overflow-wrap: break-word
.divider-view
	width: 95% !important
	margin: 0px auto
.inline-field
	.input-group label
		max-width: none
.editing-text
	flex: none !important
	color: red
	margin-bottom: 0px
	margin-right: 8px