@import '../../../../stylus/colors.styl'

.user-role-button
  text-transform: none
  font-size: 14px
.navbar
  .toolbar__content
    background-color: $color-primary-dark
    .user-role-button
      color: $color-white
      text-transform: none
      
