.sidebar
  .fs-16
    font-size: 16px
  .fs-20
    font-size: 20px
  .fc-white
    color: #FFF
  .h-60
    height: 60px
  .list__tile__action
    min-width: 40px !important
  .sidebar-header
    background: #1E2541 !important
  .sidebar-content
    .list__tile--link
      height: 60px
      color: #C4C4C4 !important
      .material-icons
        color: #C4C4C4 !important
    .list__tile--link:hover
      background-color: #FFF !important
      color: #1E2541 !important
      .material-icons
        color: #1E2541 !important
