<v-navigation-drawer
  class="sidebar"
  width="360"
  v-model="isOpen"
  temporary
  light
  absolute
>
  <v-list class="pa-1 sidebar-header">
    <v-list-tile>
      <v-list-tile-action @click="toggle">
        <v-btn flat icon>
          <v-icon color="white">clear</v-icon>
        </v-btn>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title class="fs-20 fc-white">POLICYFLY</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
  <v-list class="pt-0 sidebar-content">
    <v-divider></v-divider>
    <v-list-tile v-for="item in SidebarList" :key="item.title" @click="onSelectItem(item)">
      <v-list-tile-action>
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title class="fs-16">
          <i>{{ item.label }}</i>
        </v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</v-navigation-drawer>
