.sms-container
  height: 100%
  .main-layout
    height: 100%
    min-height: 400px
    max-width: 900px
    margin: 0 auto
    background: #ffffff
  .main-block
    display: inline-block
    .code-input
      display: inline-flex
    .buttons-view
      display: grid
      justify-content: center
    .alert-view
      width: 450px
      height: 56px
      float: right
      padding-right: 0px
      background-color: #4D4F53 !important
      border: none
