@import '~vuetify/src/stylus/settings/_theme.styl'

.registerphone-container
  color: #ffffff
  .next-button
    width: 220px
    height: 48px
    font-size: 16px
    margin-top: 80px
  .item-view
    width: 90%
    max-width: 340px
    height: 60px
    margin: 0px auto
    background-color: #182C4F
    border: 2px solid #4A90E2
    border-radius: 5px
    display: flex
    flex-direction: row
    > p
      font-size: 16px
      display: flex
      align-items: center
    .line-view
      background-color: #ffffff
      width: 2px
    > input
      width: 100%
      margin-left: 32px
      font-size: 16px
      outline: none
      
